@import "~slick-carousel/slick/slick.css"; 
@import "~slick-carousel/slick/slick-theme.css";

body
{
  margin: 0px;
  padding: 0px;
  font-family: 'Arimo', sans-serif;
  font-size: 16px;
  font-weight: 400;
  background-color: #e6e6e6;
  color: #000;

}
h1, h2, h3, h4, h5, h6, p, label
{
  margin: 0px;
}
a:hover
{
  text-decoration: none;
}
.btn:focus, .btn.focus, button:focus, :focus
{
  outline: none;
  box-shadow: none;
}
.form-control:focus
{
  border-color: transparent;
  box-shadow: none;
}
.white-bg
{
  background-color: #fff;
}
.greenfont
{
  color:#008435;
}
.yellowfont
{
  color:#FFA500;
}
.redfont
{
  color:#8E1216;
}
.mb-30
{
  margin-bottom: 30px;
}
header
{
  background-color: #fff;
  display: flex;
  padding: 30px;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 3px 20px #0000001A;
  -webkit-box-shadow: 0px 3px 20px #0000001A;
}
.search-box
{
  position: relative;
}
.search-box input[type="search"] {
  border: 0.5px solid #9C9D9D;
  border-radius: 48px;
  -webkit-border-radius: 48px;
  font-size: 14px;
  color: #9C9D9D;
  min-width: 400px;
  height: 40px;
  padding-right: 3rem;
}
.search-box button
{
  position: absolute;
    width: 38px;
    height: 38px;
    background-color: #FFA500;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 9px;
    border-radius: 100px;
    -webkit-border-radius: 100px;
}
.header-links
{
  display: flex;
  justify-content: flex-end;
}
.user-link a {
  color: #9C9D9D;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 26px;
  font-size: 14px;
  
}
.user-link:last-child a
{
  padding-right: 0px;
}

.user-link a span
{
  display: flex;
  width: 12px;
  height: 12px;
  background-color: #FFA500;
  position: absolute;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  right: -6px;
  top: -3px;
  border: 1px solid #fff;
  z-index: 1;

}
.user-link label
{
  margin-top: 5px;
}
.user-link a:hover img {
  filter: brightness(0.7);
}
.user-link a:hover label
{
  color:#6D6E6E ;
}

/*Product Page*/
.product-layout 
{
  padding: 30px;
}
.panel-title
{
  font-size: 28px;
  font-weight:700;
}
.filters
{
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  margin-bottom: 24px;
  padding-bottom: 10px;
  margin-top: 20px;
}
.filters span
{
 
  color: #363636;
  margin-right: 8px;
}
/*custom select*/
.select-custom
{
  width:100%;
  max-width: 130px;
}
.select-custom > div
{
  background-color: #e6e6e6;
  border-color: #000000;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  color: #000;
  
}

.select-custom > div > div + div > div:first-child {
  position: absolute;
  background: #000000;
  border-radius: 100px;
  width: 16px;
  height: 16px;
  color: #fff;
  padding: 0;
  align-items: center;
  justify-content: center;
  right: 10px;
}

.css-1okebmr-indicatorSeparator
{
  opacity: 0;
}
.product-label
{
  position: absolute;
  right:-15px;
  top:0px;
}
.detail-product-wrap h3
{
  font-size: 24px;
  font-weight: 700;
  display: inline-block;
  color: #000000;
 text-decoration: underline;
}
.detail-product
{
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.approve {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width:50%;
  padding-right: 15px;
}
.approve img, .product-list > img
{
  width:64px;
  height: 52px;
}
.model-pdct
{
  display: flex;
  margin-left: 30px;
  flex-direction: column;
}
.stock-price-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width:50%;
  padding-left: 15px;
}
.stock-price {
  display: flex;
  flex-direction: column;
  padding-right: 30px;
}
.stock {
  display: flex;
  align-items: center;
  padding-bottom: 8px;
  
}
.stock span {
  display: flex;
  align-items: center;
}
.stock i
{
  font-size: 15px;
  padding-left: 8px;
}
.stock small
{
  font-size: 14px;
  font-weight: 700;
}
.price
{
  display: flex;
  align-items: center;
}
.price label
{
  padding-right: 8px;
}
.total {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.total span
{
  font-size: 20px;
  font-weight: 700;
}
.touch-spin {
  display: flex;
  align-items: center;
}
.touch-spin button {
  padding: 0px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #E0E0E0;
  background-color: transparent;
}
.touch-spin span {
  display: flex;
  width: 40px;
  height: 40px;
  background: #E0E0E0;
  align-items: center;
  justify-content: center;
  font-weight: 700;
}
.action-btn {
  background-color: #FFA500;
  border-radius: 48px;
  font-weight: 700;
  height: 40px;
    min-width: 152px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #FFA500;
    cursor: pointer;
}
.action-btn span {
  position: relative;
}
.action-btn span small {
  background: #000;
  font-size: 12px;
  width: 12px;
  height: 12px;
  display: flex;
  border-radius: 100px;
  color: #FFA500;
  border:2px solid #FFA500;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: -7px;
  top: -4px;
}
.action-btn label
{
  margin-left: 10px;
}
.noty-btn
{
  background-color: #fff;
}
.bestseller {
  background-color: #FFA500;
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  padding: 3px 18px;
  position: absolute;
    top: -14px;
}
.product-list
{
 
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
}
.sm-view
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 18px;
  width: 50%;
}
.product-list h4
{
  display: inline-block;
  font-weight:700;
  font-size: 16px;
  text-decoration: underline;
  max-width: 160px;
}
.product-list .total
{
  flex-direction: row;
  align-items: center;
}
.product-list .total label
{
  padding-right: 8px;
}
.product-list .model-pdct
{
margin: 0px;
flex-direction: column;
  align-items: flex-start;
}
.product-list  .stock
{
  padding-bottom: 0px;
  padding-bottom: 0px;
  flex-direction: column;
  align-items: flex-start;
}
.load-more
{
  display: flex;
  padding: 13px;
  text-align: center;
  justify-content: center;
  font-weight: 700;
  font-size: 18px;
  border:1px solid #000;
  border-radius: 40px;
  -webkit-border-radius: 40px;
  cursor: pointer;
  width:100%;
  background-color: transparent;
  
}
.swipe-row {
  margin:0px -15px 0px -15px;
}
.swipe-slide
{
  padding: 15px 15px 0px 15px;
}
.slick-list
{
  padding: 0px !important;
}


@media (max-width: 1199px)
{
    .detail-product-wrap h3
    {
      font-size:18px;
    }
    .detail-product {
      font-size: 15px;
  }
  .model-pdct
  {
    margin-left: 10px;
  }
  .approve
  {
    padding-right: 0px;
  }
  .stock-price-wrap
  {
    padding-left: 0px;
  }
  .stock
  {
    flex-direction: row;
  }
  .stock-price
  {
    padding-right: 10px;
  }
  .price
  {
    display: flex;
    flex-direction: row;
  }
  .action-btn
  {
    min-width: 77px;
  }
 .sm-view .action-btn label
  {
    display: none;
  }

  .product-list h4
  {
    max-width: 160px;
  }
  
}
@media (max-width: 991px)
{
  .search-box input[type="search"]
  {
    min-width: 280px;
  }
  .user-link a
  {
    padding: 0px 15px;
  }
  .filters
  {
    font-size: 14px;
  }
  .bestseller
  {
    font-size: 12px;
  }
  .detail-product
  {
    
    flex-wrap: wrap;
  }
  .detail-product-wrap h3 {
    font-size: 16px;
}

.approve, .stock-price-wrap
{
  width:100%;
  justify-content: flex-start;
}
.approve img, .product-list > img {
  width: 40px;
  height: 32px;
}
.stock {
  flex-direction: column;
  padding-right: 15px;
}
.sm-view
{
  flex-wrap: wrap;
  padding: 14px;
  justify-content: flex-start;
}
.product-list
{
  flex-wrap: wrap;

}
.product-list h4
{
  font-size: 14px;
}
.stock-price
{
  flex-direction: row;
  padding-right: 15px;
}
.price {
  display: flex;
  flex-direction: column;
}

.action-btn
{
  font-size: 14px;
}
.sm-view > img
{
  width:44px;
  height: 35px;
  padding-right: 10px;
}
.sm-view .action-btn label
  {
    display: inline;
  }
.product-list .price
{
  padding-right: 5px;
}
.product-list .model-pdct
{
  width:100%;
}
.action-btn label {
  display: inline;
}
.product-list .total {
  
  align-items: flex-start;
  flex-direction: column;
}
.product-list .total p span
{
  font-size: 16px;
}
.product-list .total small
{
  font-size: 14px;
}
.touch-spin, .action-btn
{
  margin-top: 15px;
}

}
@media (max-width: 767px)
{
  .search-box input[type="search"] {
    min-width: 220px;
}
.user-link a {
  padding: 0px 10px;
}
.product-list h4
{
  max-width: 100%;
  width: 100%;
}
.touch-spin, .list-btn

{
  width:100%;
}


.swipe-slide {
  padding: 15px 0px 0px 15px;
}
.swipe-slide button.action-btn
{
  min-width: 152px;
}
}
@media (max-width: 575px)
{
  .search-box input[type="search"]
  {
    display: none;
  }
  .search-box button
  {
    position: inherit;
    margin-left: 40px;
  }
  .user-link label
  {
    display: none;
  }
  .product-layout {
    padding: 15px;
}
  .action-btn label {
    display: none;
  }
  .panel-title
  {
    font-size: 25px;
    margin-bottom: 30px;
  }
  .sm-view .action-btn label
  {
    display: none;
  }
  .filters
  {
    display: none;
  }
  
  .swipe-slide {
    padding: 15px 0px 0px 15px;
  }
  .swipe-slide button.action-btn
  {
    min-width: 77px;
  }
}
@media (max-width: 480px)
{
  .detail-product-wrap h3 {
    font-size: 14px;
  }
  .detail-product, .total span {
    font-size: 14px;
  }
  .detail-product .stock, .detail-product .stock-price
  {
    padding-right: 8px;
  }
  .product-label {
   
    width: 25px;
}
.pdct
{
  margin-top: 18px;
}
.product-label {
 
  top: -15px;
}
}
@media (max-width: 375px)
{
.swipe-slide .white-bg > .row
{
  display: inline-block;
}
.swipe-slide .white-bg .col-4, .swipe-slide .white-bg .col-8
{
  max-width: 100%;
}
.act-btn {
  flex-direction: column;
  justify-content: center;
}
.act-btn .touch-spin
{
  justify-content: center;
}
}